a {
  text-decoration: none;
  color: #ffffff;
  transition: transform 0.2s ease;
}

a:hover {
  transform: scale(0.95);
}

a:active {
  transform: scale(0.9);
}

img {
  text-decoration: none;
  color: #ffffff;
  transition: transform 0.2s ease;
}

img:hover {
  transform: scale(0.95);
}

img:active {
  transform: scale(0.9);
}

.hover {
  transition: transform 0.2s ease;
}

.hover:hover {
  transform: scale(0.95);
}

.hover:active {
  transform: scale(0.9);
}

.discover__buttonn {
  transition: transform 0.2s ease;
}

.discover__buttonn:hover {
  transform: scale(0.95);
}

.discover__buttonn:active {
  transform: scale(0.9);
}

.discover__frame {
  transition: transform 0.2s ease;
}

.discover__frame:hover {
  transform: scale(0.95);
}

.discover__frame:active {
  transform: scale(0.9);
}

.toprated__buttonn {
  transition: transform 0.2s ease;
}

.toprated__buttonn:hover {
  transform: scale(0.95);
}

.toprated__buttonn:active {
  transform: scale(0.9);
}

.highlight__button {
  transition: transform 0.2s ease;
}

.highlight__button:hover {
  transform: scale(0.95);
}

.highlight__button:active {
  transform: scale(0.9);
}

.subscribe__mobile__button {
  transition: transform 0.2s ease;
}

.subscribe__mobile__button:hover {
  transform: scale(0.95);
}

.subscribe__mobile__button:active {
  transform: scale(0.9);
}

.footer__join__mobile__button {
  transition: transform 0.2s ease;
}

.footer__join__mobile__button:hover {
  transform: scale(0.95);
}

.footer__join__mobile__button:active {
  transform: scale(0.9);
}

.marketplace__cards__items {
  transition: transform 0.2s ease;
}

.marketplace__cards__items:hover {
  transform: scale(0.95);
}

.marketplace__cards__items:active {
  transform: scale(0.9);
}

.rankings__items {
  transition: transform 0.2s ease;
}

.rankings__items:hover {
  transform: scale(0.95);
}

.rankings__items:active {
  transform: scale(0.9);
}

.connect__wallet__options__metamask {
  transition: transform 0.2s ease;
}

.connect__wallet__options__metamask:hover {
  transform: scale(0.95);
}

.connect__wallet__options__metamask:active {
  transform: scale(0.9);
}

.connect__wallet__options__walletconnect {
  transition: transform 0.2s ease;
}

.connect__wallet__options__walletconnect:hover {
  transform: scale(0.95);
}

.connect__wallet__options__walletconnect:active {
  transform: scale(0.9);
}

.connect__wallet__options__coinbase {
  transition: transform 0.2s ease;
}

.connect__wallet__options__coinbase:hover {
  transform: scale(0.95);
}

.connect__wallet__options__coinbase:active {
  transform: scale(0.9);
}

.create__button {
  transition: transform 0.2s ease;
}

.create__button:hover {
  transform: scale(0.95);
}

.create__button:active {
  transform: scale(0.9);
}

.more__from__card {
  transition: transform 0.2s ease;
}

.more__from__card:hover {
  transform: scale(0.95);
}

.more__from__card:active {
  transform: scale(0.9);
}

.info__timer__button {
  transition: transform 0.2s ease;
}

.info__timer__button:hover {
  transform: scale(0.95);
}

.info__timer__button:active {
  transform: scale(0.9);
}

.frame__info {
  transition: transform 0.2s ease;
}

.frame__info :hover {
  transform: scale(0.95);
}

.frame__info :active {
  transform: scale(0.9);
}

.info__button__button1 {
  transition: transform 0.2s ease;
}

.info__button__button1:hover {
  transform: scale(0.95);
}

.info__button__button1:active {
  transform: scale(0.9);
}

.info__button__button2 {
  transition: transform 0.2s ease;
}

.info__button__button2:hover {
  transform: scale(0.95);
}

.info__button__button2:active {
  transform: scale(0.9);
}

button {
  cursor: pointer;
}