* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #2b2b2b;
  color: #ffffff;
  font-family: "Work Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #ffffff;
  transition: transform 0.2s ease;
}

a:hover {
  transform: scale(0.95);
}

a:active {
  transform: scale(0.9);
}

.padding {
  padding: 15px 30px;
}
@media screen and (min-width: 834px) {
  .padding {
    padding: 15px 72px;
  }
}
@media screen and (min-width: 1280px) {
  .padding {
    padding: 15px 115px;
  }
}

.navigation {
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 1280px) {
  .navigation a {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .navigation__menu {
    display: flex;
    align-items: center;
    gap: 50px;
  }
}
.navigation__menu__marketplace, .navigation__menu__rankings, .navigation__menu__connect, .navigation__menu__signup {
  display: none;
}
@media screen and (min-width: 1280px) {
  .navigation__menu__marketplace, .navigation__menu__rankings, .navigation__menu__connect, .navigation__menu__signup {
    display: block;
    font-size: 16px;
    font-weight: 600;
  }
}
@media screen and (min-width: 1280px) {
  .navigation__menu__img {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .navigation__menu__signup {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #A259FF;
    padding: 19px 30px;
    color: #ffffff;
    border-radius: 20px;
    text-decoration: none;
  }
}
.navigation__logo {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.navigation__logo img {
  width: 24px;
  height: 24px;
}
.navigation__logo p {
  color: #ffffff;
  font-weight: bold;
}

.hands {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #2b2b2b;
}
.hands__headline {
  font-size: 28px;
}
@media screen and (min-width: 834px) {
  .hands__headline {
    font-size: 38px;
  }
}
@media screen and (min-width: 1280px) {
  .hands__headline {
    font-size: 51px;
  }
}
.hands__subhead {
  font-size: 16px;
  line-height: 1.5;
}
@media screen and (min-width: 1280px) {
  .hands__subhead {
    font-size: 22px;
  }
}
.hands__search {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #3b3b3b;
  border-radius: 20px;
}
.hands__search__input {
  background-color: #2b2b2b;
  border: none;
}
.hands__search input:focus {
  outline: none;
  color: #ffffff;
}
.hands__search input::-moz-placeholder {
  font-size: 14px;
}
.hands__search input::placeholder {
  font-size: 14px;
}

.marketplace {
  background-color: #2b2b2b;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.marketplace__tabbar {
  display: flex;
  justify-content: space-around;
}
.marketplace__tabbar__text {
  text-decoration: none;
  position: relative;
  display: inline-block;
}
.marketplace__tabbar__text__p {
  font-size: 16px;
  font-weight: 600;
  color: #858584;
}
.marketplace__tabbar__text::after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -20px;
  transform: scaleX(0);
  transition: transform 0.3s;
  background-color: #858584;
}
.marketplace__tabbar__text:hover::after {
  transform: scaleX(1);
}
.marketplace__tabbar__text__p:hover {
  color: #ffffff;
}
.marketplace__cards {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 834px) {
  .marketplace__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .marketplace__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}
.marketplace__cards__items {
  background-color: #3b3b3b;
  border-radius: 20px;
}
.marketplace__cards__items__img {
  -o-object-fit: fill;
     object-fit: fill;
}
.marketplace__cards__items__info {
  margin: 20px 30px 0px 30px;
}
.marketplace__cards__items__info__text {
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
  line-height: 30px;
}
.marketplace__cards__items__info__avatar {
  display: flex;
  gap: 10px;
  align-items: center;
}
.marketplace__cards__items__info__avatar__name {
  font-size: 16px;
  font-weight: 400;
  font-family: "Space Mono", monospace;
}
.marketplace__cards__items__infoo {
  margin: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.marketplace__cards__items__infoo__info-1 {
  text-align: start;
}
.marketplace__cards__items__infoo__info-2 {
  text-align: end;
}
.marketplace__cards__items__infoo p {
  font-size: 12px;
  font-weight: 400;
  color: #858584;
  font-family: "Space Mono", monospace;
}
.marketplace__cards__items__infoo span {
  font-size: 12px;
  font-weight: 400;
  font-family: "Space Mono", monospace;
}

.footer {
  background-color: #3b3b3b;
  margin-top: 20px;
}
@media screen and (min-width: 1280px) {
  .footer {
    padding: 40px 115px;
    display: flex;
    gap: 31px;
  }
}
.footer__nft {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1280px) {
  .footer__nft {
    width: 100%;
  }
}
.footer__nft__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__nft__logo__header {
  font-size: 22px;
  font-weight: 600;
  font-family: "Space Mono", monospace;
}
.footer__nft__title__tt1 {
  margin-bottom: 10px;
}
.footer__nft__title__tt1, .footer__nft__title__tt2 {
  font-size: 16px;
  font-weight: 400;
  color: #cccccc;
}
.footer__nft__icon {
  display: flex;
  gap: 10px;
}
.footer__explore {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1280px) {
  .footer__explore {
    width: 40%;
  }
}
.footer__explore__tt {
  font-size: 22px;
  font-weight: 600;
  font-family: "Space Mono", monospace;
}
.footer__explore__text {
  font-size: 16px;
  font-weight: 400;
  color: #cccccc;
}
.footer__join {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}
@media screen and (min-width: 834px) {
  .footer__join {
    width: 60%;
    position: relative;
  }
}
@media screen and (min-width: 1280px) {
  .footer__join {
    width: 100%;
  }
}
.footer__join__tt {
  font-size: 22px;
  font-weight: 600;
  font-family: "Space Mono", monospace;
}
.footer__join__text {
  font-size: 16px;
  font-weight: 400;
  color: #cccccc;
}
.footer__join__mobile {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 834px) {
  .footer__join__mobile {
    width: 100%;
    position: relative;
  }
}
@media screen and (min-width: 1280px) {
  .footer__join__mobile {
    width: 100%;
  }
}
.footer__join__mobile__enter {
  padding: 12px 20px;
  border-radius: 20px;
  border: none;
}
@media screen and (min-width: 834px) {
  .footer__join__mobile__enter {
    padding: 21px;
  }
}
.footer__join__mobile__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #A259FF;
  border: none;
  border-radius: 20px;
  padding: 12px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}
@media screen and (min-width: 834px) {
  .footer__join__mobile__button {
    position: absolute;
    align-self: flex-end;
    padding: 19px 50px;
  }
}

.frame {
  padding-top: 20px;
  border-top: 1px solid #858584;
  background-color: #3b3b3b;
}
.frame__text {
  color: #cccccc;
  font-size: 12px;
  font-weight: 400;
}